{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended", "eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off"
  }
}
